

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html {
    scroll-behavior: smooth;
    overflow-x: hidden;

}
body {
    margin-top: 62px;
    font-family: Lato;
    overflow-x: hidden;
    background-color: #E5E5E5;
}
/* SCROLL BAR */
body::-webkit-scrollbar {
    width: 6px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
    background: #01707100;  
        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
    background-color: rgba(92, 139, 221, 0.48);    /* color of the scroll thumb */
    border-radius:50%;           /* roundness of the scroll thumb */
    margin-right:1px;     
}
.heading-box h2{
    width:100%;
    color: red;
}
.navbar-main {
    background-color: #fff;
    padding-left: 4rem;
    padding-right: 4rem;
    box-shadow: 0px 6px 5px -3px rgba(37, 67, 244, 0.2);
}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    border: 1px solid #14317c;
    border-radius: 0rem;
}

#logo {
  transition: 0.2s;
  width: 105px;
}
.splash .img-fluid {
    max-width: 106%;
}
@media (max-width: 414px) {
    .splash {
        text-align: center!important;
    }
    .hello-name {
        font-size: 2.5rem;
    }
}
.splash h1 {
    font-size: 3.2rem;
    line-height: 25px;
}
.btn {
    /* border-radius: 3rem; */
    font-size: x-small;
    padding: .6rem 1rem;
}
.btn-primary {
    background-color: #2862f7;
    border-color: #2862f7;
}
.hero-section {
    padding-bottom: 5rem;
}
.hero-description span{
    font-size: 24px;
    font-weight: 600;
}
.hero-description p{
    font-size: small;
    color: #0b1fc6;
    font-weight: 600;
}
.hero-description .hero-form {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2;
}
.hero-description .hero-form h2 {
    font-size: 16px;
    color: #212529;
}
.hero-description .hero-form .form-control {
    min-height: 50px;
    background:transparent;
    border-radius: 30px 0 0 30px;
    border: 1px solid;
}
.hero-description .hero-form .form-control:focus {
    box-shadow: none;
    border-color: #243c4f;
}
.hero-description .hero-form .btn {
    min-height: 50px;
    border: 1px;
    border-radius: 0 30px 30px 0;
    background: #2843f7;
    color: #fff;
}
.about-us-section {
    padding-bottom: 3rem;
    padding-top: 3rem;
}
/* On screens that are 770px wide or less*/
@media screen and (max-width: 770px) {
}
/* On screens that are 415px wide or less*/
@media screen and (max-width: 415px) {
    .navbar-main {
        padding-left: 2rem;
    }
}
.feel-relaxed-section .btn.focus, .feel-relaxed-section .btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(61, 60, 60, 0.24);
}
.feel-relaxed {
    padding-top: 60px;
    background: radial-gradient(50% 50% at 50% 50%, #324BCE 0%, #1F339D 100%);
}
.howitworks-section {
    padding-bottom: 3rem;
    padding-top: 3rem;
}
.howitworks-section .icons img {
    max-width: 25px;
    width: 100%;
    margin-bottom: 1rem;
}
.howitworks-section .icons p {
    font-size: small;
}
.howitworks-section .screens-preview img {
    width: 80%;
}
.reach-us-section {
    padding-top: 60px;
    background: radial-gradient(50% 50% at 50% 50%, #324BCE 0%, #1F339D 100%);
        }
.btn {
    min-width: max-content;
}
.text-secondary {
    color: #c2c2c2!important;
}

#subscribeModal .modal-content{
    overflow:hidden;
}
#subscribeModal .form-control {
    height: 56px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-left:30px;
}
#subscribeModal .btn {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-right:20px;
    background: #2843f7;
    border-color: #2843f7;
}
#subscribeModal .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #007b5e;
    outline: 0;
    box-shadow: none;
}
#subscribeModal .top-strip {
    height: 155px;
    background: #14317c;
    transform: rotate(141deg);
    margin-top: -94px;
    margin-right: 190px;
    margin-left: -130px;
    border-bottom: 65px solid #14317c;
    border-top: 10px solid #a7bdf7;
}
#subscribeModal .bottom-strip {
    height: 155px;
    background: #14317c;
    transform: rotate(112deg);
    margin-top: -110px;
    margin-right: -215px;
    margin-left: 300px;
    border-bottom: 65px solid #a7bdf7;
    border-top: 10px solid #a7bdf7;
}

/**************************/
/****** modal-lg stips *********/
/**************************/
#subscribeModal .modal-lg .top-strip {
    height: 155px;
    background: #007b5e;
    transform: rotate(141deg);
    margin-top: -106px;
    margin-right: 457px;
    margin-left: -130px;
    border-bottom: 65px solid #14317c;
    border-top: 10px solid #a7bdf7;
}
#subscribeModal .modal-lg .bottom-strip {
    height: 155px;
    background: #007b5e;
    transform: rotate(135deg);
    margin-top: -115px;
    margin-right: -339px;
    margin-left: 421px;
    border-bottom: 65px solid #a7bdf7;
    border-top: 10px solid #a7bdf7;
}
#subscribeModal {
    overflow-x: hidden;
}
/* SCROLL BAR */
#subscribeModal::-webkit-scrollbar {
    width: 6px;               /* width of the entire scrollbar */
}
#subscribeModal::-webkit-scrollbar-track {
    background: #01707100;  
        /* color of the tracking area */
}
#subscribeModal::-webkit-scrollbar-thumb {
    background-color: rgba(92, 139, 221, 0.48);    /* color of the scroll thumb */
    border-radius:50%;           /* roundness of the scroll thumb */
    margin-right:1px;     
}


.reload-page{
    cursor:pointer;
}
